<html>
<head>
	<style type="text/css">
		td{
			padding: 10px;
		}
	</style>
</head>
<body>
	<table>
		<tr>
			<th>ID</th>
			<th>Address</th>
			<th>Property Status</th>
			<th>Modified Date</th>
		</tr>
		{% for item in listings %}
			<tr>
				<td>{{ item.listing_id }}</td>
				<td>{{ item.address_suburb }}</td>
				<td>{{ item.property_status }}</td>
				<td>{{ item|date_format:item.modify_date }}</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td><strong>Total Pages </strong> : {{ total_pages }}</td>
			<td><strong>Total Listings </strong> : {{ total_listings }}</td>
		</tr>

	</table>
</body>
</html>